.sectionContacto {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.contacto-titulo {
    font-size: 4rem;
    font-weight: 600;
    padding-bottom: 2%;
}

.divForm_p {
    font-size: 1.8rem;

}

.contacto-div {
    padding-bottom: 10%;
    text-align: center;
    padding-top: 10%;
}
.contacto-formulario {
    width: 100%;
}

a {
    color: $colorPrincipal;
    text-decoration: underline;
}

.text-field-1 {
    height: 88px;
    max-width: none;
    margin: 0px;
    padding: 16px 0px;
    border-style: none none solid;
    border-width: 1px;
    border-color: #000 #000 rgba(199, 200, 201, 0.3);
    color: #000;
    font-size: 20px;
    font-weight: 400;
}

.w-input, .w-select {
    display: block;
    width: 100%;
    height: 38px;
}

.textarea {
    display: block;
    overflow: visible;
    max-width: none;
    min-height: 88px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 0px;
    justify-content: flex-end;
    align-items: flex-end;
    color: #000;
    font-size: 20px;
    border-style: none none solid;
    border-width: 1px;
    border-color: #000 #000 rgba(199, 200, 201, 0.3);
}

.button-submit {
    border-radius: 88px;
    color: #fff;
    background-color: $colorPrincipal;

    line-height: 40px;
    font-weight: 600;

    width: 211px;
    height: 60px;
    margin-top: 32px;
    font-size: 20px;
}

.w-button {
    display: inline-block;
    padding: 9px 15px;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        transform: scale(1.15);
        background-color: black;
        color: white;
    }

}

.formulario-boton {
    display: flex;
    justify-content: center;
    padding-bottom: 20%;
}