* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}


body {
    font-family: "Poppins", sans-serif;
}





ol,
ul {
    padding-left: 0rem;
}

.margen_general {
    margin-bottom: 20%;
}

main {

    .imagenesPrincipales {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-content: center;

        div {
            justify-items: center;
            align-items: center;
            padding-bottom: 5%;

            img {
                height: 200px;
                width: auto;
                display: flex;

                &:hover {
                    transform: scale(1.05);
                    padding-bottom: 2%;
                }
            }

            p {
                font-size: 1.8rem;
            }

            .descripcionImagen {
                color: #a3a3a3;
                font-weight: 500;
                font-size: 1.5rem;
            }
        }
    }

}


section ul {
    list-style: none;
    display: flex;
}


em {
    font-style: italic;
}


.p_index {
    margin-bottom: 0%;
    font-size: 4rem;
    margin-top: 20%;
    text-align: center;
    font-weight: 500;
}

.boton_index {
    display: inline-block;
    padding: 9px 15px;
    border: 0;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        transform: scale(1.15);
        background-color: black;
        color: white;
    }
}

.formulario-boton-index {
    display: flex;
    justify-content: center;
    padding-bottom: 20%;
}

.img_logohipnosia {
    padding-left: 10%;
}