* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}


body {
    font-family: "Poppins", sans-serif;
}



    .sectionGeneral {

            .p_general {
                font-size: 2.7rem;
                margin-top: 20%;
                text-align: center;
                margin-bottom: 20%;
            }
        }



ol,
ul {
    padding-left: 0rem;
}



main {

    .imagenesPrincipales {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-content: center;

        div {
            justify-items: center;
            align-items: center;
            padding-bottom: 5%;

            img {
                height: 200px;
                width: auto;
                display: flex;

                &:hover {
                    transform: scale(1.05);
                    padding-bottom: 2%;
                }
            }

            p {
                font-size: 1.8rem;
            }

            .descripcionImagen {
                color: #a3a3a3;
                font-weight: 500;
                font-size: 1.5rem;
            }
        }
    }

}


section ul {
    list-style: none;
    display: flex;
}


em {
    font-style: italic;
}
