/* 375px */

@media screen and (max-width: 376px) {

    mark {
        background-color: white;
        color: $colorPrincipal;
    }

}

@media screen and (min-width: 375px) {

    .sectionservicios {

        div {
            .p {
                font-size: 3.2rem;
                text-align: left;
            }
        }
    }


    .nosotros-portada-img {
        width: 320px;
        height: 156px;
    }


    .blog-portada-img {
        width: 315px;
        height: 190px;
    }
}





/* 400px */


@media screen and (min-width: 400px) {
    main {
        .imagenesPrincipales {
            flex-direction: row;
            justify-content: space-evenly;

            div {
                img {
                    height: 250px;
                    width: auto;
                    display: flex;
                    border-radius: 5%;
                }
            }
        }

    }



    p {
        font-size: 1.8rem;
    }
}


@media screen and (min-width: 425px) {

    .sectionIndex {

        .p {
            font-size: 2.4rem;
        }
    }

    .sectionservicios {
        div {
            .p {
                font-size: 3.4rem;
                text-align: left;
            }
        }

    }


    .sectionContacto {
        padding-left: 10%;
        padding-right: 10%;
    }

    .nosotros-portada-img {
        width: 400px;
        height: 195px;
    }



    .blog-portada-img {
        width: 375px;
        height: 240px;
    }
}




/* 756px */




@media screen and (min-width: 756px) {
    .sectionIndex {
        padding-right: 5%;
        padding-bottom: 5%;
        padding-top: 3%;
        display: flex;

        .p {
            font-size: 4rem;
        }
    }

    .sectionservicios {
        padding-right: 5%;
        padding-bottom: 0%;
        padding-top: 3%;
        display: flex;

        div {
            .subtitulos {
                font-size: 1.5rem;
                justify-self: right;
                color: #692dff;
                font-weight: 700;
                padding-bottom: 0.5%;
            }

            .p {
                font-size: 4rem;
            }
        }
    }

    .sectionContacto {
        padding-left: 20%;
        padding-right: 20%;
    }

    .nosotros-portada-img {
        width: 727px;
        height: 354px;
    }


    .grid-container {
        display: grid;
        margin-left: 0px;
        grid-auto-columns: 1fr;
        grid-column-gap: 15px;
        grid-row-gap: 30px;
        -ms-grid-columns: minmax(auto, 1fr) 1fr;
        grid-template-columns: minmax(auto, 1fr) 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
    }

    .sectionBlog {
        padding-right: 10px;
        padding-left: 10px;

    }

    .blog-portada-img {
        width: 330px;
        height: 210px;
    }
}



/*900PX*/

@media (min-width: 900px) {

    /*nosotros*/
    .descripcionPadre {
        div {
            .descripcionUno {
                font-size: 3.6rem;
            }

            .descripcionDos {
                font-size: 2rem;
            }
        }
    }


    .sectionNosotros {

        div {
            .titulos {
                font-size: 6rem;
                width: 100%;
                display: flex;
                justify-content: center;
                font-weight: 800;
                margin-bottom: 5%;
                display: inline-block;
                margin: 0 0.5rem;
                animation-duration: 2s;
            }


        }
    }

    /*servicios*/
    .subtitulos {
        margin-left: 6%;
        font-size: 2rem;
        justify-self: right;
        display: flex;
        color: #692dff;
        font-weight: 700;
        margin-top: 1%;
    }

    /*contacto*/
    .titulosContacto {
        font-size: 6rem;
        width: 100%;
        display: flex;
        justify-content: center;
        font-weight: 800;
        margin-bottom: 5%;
        display: inline-block;
        margin: 0 0.5rem;
        animation-duration: 2s;
    }

}

/*1024PX*/


@media (min-width: 1024px) {

    .sectionIndex {
        .p {
            font-size: 5.1rem;
            padding-right: 10%;
            text-align: left;
            padding-left: 5%;
        }
    }

    main {
        .imagenesPrincipales {

            div {
                img {
                    height: 313px;
                }

                p {
                    font-size: 2.2rem;
                }

                .descripcionImagen {
                    font-size: 1.9rem;
                }
            }
        }
    }

    .sectionservicios {
        div {
            .subtitulos {
                font-size: 1.8rem;
                justify-self: right;
                color: #692dff;
                font-weight: 700;
                padding-bottom: 0.5%;
            }

            .p {
                font-size: 4.5rem;
                padding-right: 10%;
                text-align: left;
                padding-left: 5%;
            }

        }
    }

    .mainServicios {

        .sectionuno-mainServicios {
            .divuno-mainServicios {
                .titulos-mainServicios {
                    font-size: 4.5rem;
                }

                .parrafos-mainServicios {
                    font-size: 2rem;
                }
            }

            .img-mainServicios {

                img {
                    width: 350px;
                    height: 350px;
                }
            }
        }



        .sectiondos-mainServicios {

            .divdos-mainServicios {
                .titulos-mainServicios {
                    font-size: 4.5rem;
                }

                .parrafos-mainServicios {
                    font-size: 2rem;
                }
            }

            .img-mainServicios {
                img {
                    width: 350px;
                    height: 350px;
                }
            }
        }
    }


    .nosotros-portada-img {
        width: 941px;
        height: 458px;
    }


    .grid-container {
        grid-column-gap: 25px;
    }


    .blog-portada-img {
        width: 410px;
        height: 260px;
    }
}



@media screen and (min-width: 1050px) {

    .imagenesPrincipales {
        div {
            img {
                height: 280px;
                width: auto;
                display: flex;
            }
        }
    }
}


@media (min-width: 1339px) {
    .sectionIndex {
        .p {
            font-size: 4.8rem;
        }
    }

    main {
        .imagenesPrincipales {
            div {
                img {
                    height: 290px;
                }
            }
        }
    }
}

/*1440PX*/


@media (min-width: 1440px) {
    .sectionIndex {
        padding-bottom: 3%;

        .p {
            font-size: 5.2rem;
            padding-right: 10%;
            text-align: left;
            padding-left: 5%;
        }
    }

    nav {
        .navPropio {
            font-size: 2.9rem;
        }
    }


    .sectionservicios {
        padding-bottom: 0%;
    }

    .mainServicios {

        .sectionuno-mainServicios {

            .divuno-mainServicios {
                padding: 2%;
                padding-left: 10%;


                .titulos-mainServicios {
                    font-size: 4rem;
                }

                .parrafos-mainServicios {
                    font-size: 2.3rem;
                }
            }

            .img-mainServicios {
                img {
                    width: 400px;
                    height: 400px;
                    display: flex;
                    justify-content: center;
                }
            }
        }


        .sectiondos-mainServicios {

            .divdos-mainServicios {
                padding: 2%;
                padding-right: 10%;

                .titulos-mainServicios {
                    font-size: 4rem;
                }

                .parrafos-mainServicios {
                    font-size: 2.3rem;
                }
            }

            .img-mainServicios {
                img {
                    width: 400px;
                    height: 400px;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }

    .descripcionPadre {
        div {
            .descripcionUno {
                font-size: 4rem;
            }

            .descripcionDos {
                font-size: 2.4rem;
            }
        }
    }


    .nosotros-portada-img {
        width: 1333px;
        height: 650px;
    }

    .sectionBlog {
        padding-right: 80px;
        padding-left: 80px;

    }

    .grid-container {
        grid-column-gap: 35px;
    }

    .blog-portada-img {
        width: 600px;
        height: 380px;
    }
}




@media screen and (min-width: 1593px) {
    .sectionIndex {

        .p {
            font-size: 5.8rem;
        }
    }




    main {
        .imagenesPrincipales {

            div {
                img {
                    height: 350px;
                }
            }
        }
    }
}


/*1819PX*/
@media screen and (min-width: 1819px) {
    .sectionIndex {

        .p {
            font-size: 6.5rem;
        }
    }



    main {
        .imagenesPrincipales {

            div {
                img {
                    height: 388px;
                }
            }
        }
    }

    .blog-portada-img {
        width: 685px;
        height: 400px;
    }
}

/*2150PX*/
@media screen and (min-width: 2150px) {

    .sectionIndex {
        .p {
            font-size: 7.7rem;
        }
    }

    .sectionservicios {
        .p {
            font-size: 9rem;
        }
    }

    .blog-portada-img {
        width: 750px;
        height: 530px;
    }
}


/*2400PX*/

@media screen and (min-width: 2400px) {


    main {
        .imagenesPrincipales {

            div {
                img {
                    height: 550px;
                }
            }
        }

        p {
            font-size: 4.3rem;
        }
    }

}


@media screen and (min-width: 2500px) {
    .sectionIndex {

        .p {
            font-size: 9.2rem;
        }
    }

    .titulos-mainServicios {
        font-size: 6rem;
    }

    .parrafos-mainServicios {
        font-size: 4rem;
    }

    /*nosotros*/
    .sectionNosotros {
        div {
            .titulos {
                font-size: 10rem;
            }


        }
    }

    .descripcionPadre {
        div {
            .descripcionUno {
                font-size: 6.5rem;
            }

            .descripcionDos {
                font-size: 4rem;
            }
        }
    }
}