$colorPrincipal: #692dff;

$estilosTitulos: (tFuente: 3rem,
    tGrosor: 400,
    alineacion: left,
    abajo: 10%,
    arriba: 10%,
    izquierda: 7%,
    derecha: 7%,
    interlineado: 120%);


div {
    .titulos {
        font-size: map-get($estilosTitulos, tFuente);
        text-align: map-get($estilosTitulos, alineacion);
        font-weight: map-get($estilosTitulos, tGrosor);
        margin-bottom: map-get($estilosTitulos, abajo);
        margin-top: map-get($estilosTitulos, arriba);
        padding-left: map-get($estilosTitulos, izquierda);
        padding-right: map-get($estilosTitulos, derecha);
        line-height: map-get($estilosTitulos, interlineado);
    }
}



$imgServicios: (ancho: 250px,
    alto: 250px,
    flex: flex,
    centro: center,
    padding: 2px);

.mainServicios {
    .sectionuno-mainServicios {
        .img-mainServicios {
            img {
                width: map-get($imgServicios, ancho);
                height: map-get($imgServicios, alto);
                display: map-get($imgServicios, flex);
                justify-content: map-get($imgServicios, centro);
                padding: map-get($imgServicios, padding);
            }
        }
    }

    .sectiondos-mainServicios {
        .img-mainServicios {
            img {
                width: map-get($imgServicios, ancho);
                height: map-get($imgServicios, alto);
                display: map-get($imgServicios, flex);
                justify-content: map-get($imgServicios, centro);
                padding: map-get($imgServicios, padding);
            }
        }
    }
}





.sectionNosotros {
    display: flex;
    align-content: center;
    text-align: center;
    margin: 2px;
    padding-bottom: 3%;
    padding-top: 1%;
}

.sectionservicios {
    @extend .sectionNosotros;
}

.sectionGeneral {
    @extend .sectionNosotros;
    flex-direction: row;
}

.p_nosotros {
    @extend .p_general;
    font-weight: 600;
}


@mixin titulos {
    display: flex;
    justify-content: center;
    margin: 0 0.5rem;
    animation-duration: 2s;
}



.sectionNosotros {
    div {
        .titulos {
            @include titulos;
        }
    }
}