* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}


body {
    font-family: "Poppins", sans-serif;
}



nav .navPropio {
    font-size: 2.2rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
    padding: 10px 10px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #692dff;
}

.navBarPropio {
    flex-grow: unset;
}


.sectionIndex {
    display: flex;
    align-content: center;
    text-align: center;
    margin: 2px;
    padding-bottom: 3%;
    padding-top: 1%;
}

.sectionIndex .p {
    font-size: 1.7rem;
    margin-top: 2%;
    text-align: center;
}


/*SECTION - TITULO PRINCIPAL*/
section {
    display: flex;

}

.sectionservicios {
    display: flex;
    align-content: center;
    text-align: center;
    margin: 2px;
    padding-bottom: 3%;
    padding-top: 1%;
}

.sectionservicios .p {
    font-size: 1.7rem;
    margin-top: 2%;
    text-align: center;
}

section .subtitulos {
    font-size: 1.2rem;
    justify-self: right;
    color: #692dff;
    font-weight: 700;
    padding-bottom: 0.5%;
}

@media screen and (min-width: 756px) {
    .sectionIndex {
        padding-right: 5%;
        padding-bottom: 5%;
        display: flex;
    }

    .sectionservicios {
        padding-right: 5%;
        padding-bottom: 0%;
        display: flex;
    }

    section .subtitulos {
        font-size: 1.5rem;
        justify-self: right;
        color: #692dff;
        font-weight: 700;
        padding-bottom: 0.5%;
    }
}


@media screen and (min-width: 375px) {

    .sectionservicios .p {
        font-size: 2rem;
    }
}

@media screen and (min-width: 425px) {

    .sectionIndex .p {
        font-size: 2.4rem;
    }

    .sectionservicios .p {
        font-size: 2.4rem;
    }
}

ol,
ul {
    padding-left: 0rem;
}

@media screen and (min-width: 756px) {

    .sectionIndex {
        padding-right: 5%;
        padding-top: 3%;
    }

    .sectionIndex .p {
        font-size: 2.5rem;
    }

    .sectionservicios {
        padding-right: 5%;
        padding-top: 3%;
    }

    .sectionservicios .p {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1024px) {

    .sectionIndex .p {
        font-size: 4.5rem;
        padding-right: 10%;
        text-align: left;
        padding-left: 5%;
    }

    .sectionservicios .p {
        font-size: 4.5rem;
        padding-right: 10%;
        text-align: left;
        padding-left: 5%;
    }

    section .subtitulos {
        font-size: 1.8rem;
        justify-self: right;
        color: #692dff;
        font-weight: 700;
        padding-bottom: 0.5%;
    }
}

@media screen and (min-width: 1440px) {

    .sectionIndex {
        padding-bottom: 3%;
    }

    .sectionservicios {
        padding-bottom: 0%;
    }
}


@media screen and (min-width: 2150px) {

    .sectionIndex .p {
        font-size: 9rem;
    }

    .sectionservicios .p {
        font-size: 9rem;
    }
}

mark {
    background-color: #692dff;
    color: white;
    font-weight: 600;
    /*border: 1px solid #692dff;*/
    border-radius: 10px;

}


.imagenesPrincipales {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.imagenesPrincipales div img {
    height: 200px;
    width: auto;
    display: flex;
}

.imagenesPrincipales>div {
    justify-items: center;
    align-items: center;
}

p {
    font-size: 1.3rem;
}

.descripcionImagen {
    color: #a3a3a3;
    font-weight: 500;
}

@media screen and (min-width: 400px) {
    .imagenesPrincipales {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .imagenesPrincipales div img {
        height: 250px;
        width: auto;
        display: flex;
        border-radius: 5%;
    }

    p {
        font-size: 1.8rem;
    }
}

.imagenesPrincipales>div {
    padding-bottom: 5%;
    justify-items: center;
    align-items: center;
}

.imagenesPrincipales>div img:hover {
    transform: scale(1.05);
    padding-bottom: 2%;
}

@media screen and (min-width: 1050px) {
    .imagenesPrincipales div img {
        height: 280px;
        width: auto;
        display: flex;
    }
}

@media screen and (min-width: 1593px) {
    .imagenesPrincipales div img {
        height: 350px;
        width: auto;
        display: flex;
    }
}

@media screen and (min-width: 2400px) {
    .imagenesPrincipales div img {
        height: 550px;
        width: auto;
        display: flex;
    }

    .imagenesPrincipales p {
        font-size: 4.3rem;
    }
}

footer {
    display: flex;
    justify-content: center;
    padding-bottom: 4%;
    padding-top: 2%;
}

.imgfooter {
    height: 30px;
    width: auto;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

footer ul>li {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}

/*MAIN SERVICIOS */




section ul {
    list-style: none;
}

section {
    display: flex;
    flex-direction: row;
}


ul {
    display: flex;
}


/* PORTAFOLIO 
.hoolahoop {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 2%;
}

.hoolahoop ul li img {
    height: 200px;
    width: auto;
    display: flex;
}

.hoolahoop>li {
    justify-items: center;
    align-items: center;
}
*/

.descripcionPadre {
    margin: 1%;
    align-items: center;
}

.descripcionUno {
    display: flex;
    flex-wrap: wrap;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: left;
    padding: 2%;
}

.descripcionDos {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.8rem;
    color: #313131;
    padding: 2%;
    text-align: justify;
}

.subtitulos {
    margin-left: 6%;
    font-size: 1.4rem;
    justify-self: right;
    display: flex;
    color: #692dff;
    font-weight: 700;
    margin-top: 5%;
}

.titulos {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    font-weight: 800;
    margin-bottom: 10%;
    display: inline-block;
    margin: 0 0.5rem;
    animation-duration: 2s;
    text-align: center;
}

.titulosContacto {
    font-size: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 800;
    margin-bottom: 10%;
    display: inline-block;
    margin: 0 0.5rem;
    animation-duration: 2s;
}



em {
    font-style: italic;
}

@media (min-width: 900px) {
    .descripcionUno {
        font-size: 3.6rem;
    }
}

@media (min-width: 900px) {

    .subtitulos {
        margin-left: 6%;
        font-size: 2rem;
        justify-self: right;
        display: flex;
        color: #692dff;
        font-weight: 700;
        margin-top: 1%;
    }


    .titulos {
        font-size: 6rem;
        width: 100%;
        display: flex;
        justify-content: center;
        font-weight: 800;
        margin-bottom: 5%;
        display: inline-block;
        margin: 0 0.5rem;
        animation-duration: 2s;
    }


    .titulosContacto {
        font-size: 6rem;
        width: 100%;
        display: flex;
        justify-content: center;
        font-weight: 800;
        margin-bottom: 5%;
        display: inline-block;
        margin: 0 0.5rem;
        animation-duration: 2s;
    }

}

/*FORMS*/

.divForm_Todo {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 6%;
    margin-bottom: 6%;
    margin-right: 5%;
}

.divForm_p {
    width: 80%;
}

.divForm_titulo {
    margin-left: 7%;
    margin-right: 5%;
    width: 100%;
    margin-top: 3%;
}



@media (min-width: 370px) {
    .divForm_titulo {
        margin-left: 8%;
    }

}

@media (min-width: 700px) {

    .divForm_Todo {
        margin-top: 5%;
        margin-bottom: 2%;
    }

    .divForm_titulo {
        margin-left: 8%;
        width: 60%;
    }

    .divForm_p {
        width: 100%;
    }
}

@media (min-width: 900px) {

    .divForm_titulo {
        margin-left: 6%;
    }
}

.divForm_titulo a {
    color: currentColor;
}

.divForm {
    display: flex;
}


input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #000000;
    font-size: 1.8rem;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: #000000;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #000000;
    font-size: 1.8rem;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: #000000;
}

input::placeholder,
textarea::placeholder {
    color: #000000;
    font-size: 1.8rem;
}

input:focus::placeholder,
textarea::focus:placeholder {
    color: #000000;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
    color: #000000;
    font-size: 1.8rem;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
    color: #000000;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
    color: #000000;
    font-size: 1.8rem;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
    color: #000000;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
    color: #000000;
    font-size: 1.8rem;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
    color: #000000;
}

input:hover::placeholder,
textarea:hover::placeholder {
    color: #000000;
    font-size: 1.8rem;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
    color: #000000;
}

input:hover::placeholder,
textarea:hover::placeholder {
    color: #000000;
    font-size: 1.8rem;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
    color: #000000;
}

#form {
    position: relative;
    width: 280px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 1.2rem;
}

input {
    width: 280px;
    height: 30px;
    padding: 0px 15px 0px 15px;

    background: transparent;
    outline: none;
    color: #202020;

    border: solid 1px #000000;
    border-bottom: none;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

input:hover {
    background: #f3f3f3;
    color: #000000;
}

textarea {
    width: 280px;
    height: 70px;
    max-height: 70px;
    padding: 15px;

    background: transparent;
    outline: none;

    color: #202020;
    font-family: "Poppins", sans-serif;


    border: solid 1px #000000;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
    background: #f3f3f3;
    color: #000000;
}


#submit {
    width: 280px;
    padding: 0;
    margin: -5px 0px 0px 0px;

    color: #202020;
    font-family: "Poppins", sans-serif;

    outline: none;
    cursor: pointer;

    border: solid 1px #000000;
    border-top: none;
}


#submit:hover {
    color: #f3f3f3;
    background: #692dff;
}

.sectionContacto > article {
    width: 100%;
}

.imagenForm {
    display: none;
}

@media (min-width: 372px) {
    #form {
        position: relative;
        width: 325px;
        font-size: 1.2rem;
    }

    input {
        width: 325px;
        height: 40px;
        padding: 0px 15px 0px 15px;
    }

    textarea {
        width: 325px;
        height: 80px;
        max-height: 80px;
        padding: 15px;
    }

    #submit {
        width: 325px;
    }
}


@media (min-width: 400px) {
    #form {
        position: relative;
        width: 375px;
        font-size: 1.2rem;
    }

    input {
        width: 375px;
        height: 40px;
        padding: 0px 15px 0px 15px;
    }

    textarea {
        width: 375px;
        height: 80px;
        max-height: 80px;
        padding: 15px;
    }

    #submit {
        width: 375px;
    }
}


@media (min-width: 700px) {
    #form {
        position: relative;
        width: 620px;
        font-size: 1.2rem;
    }

    input {
        width: 620px;
        height: 40px;
        padding: 0px 15px 0px 15px;
    }

    textarea {
        width: 620px;
        height: 80px;
        max-height: 80px;
        padding: 15px;
    }

    #submit {
        width: 620px;
    }
}


@media (min-width: 900px) {
    #form {
        width: 750px;
        margin: 50px auto 100px auto;
        font-family: "Poppins", sans-serif;
        font-style: normal;
    }

    input {
        font-size: 1.8rem;
        width: 720px;
        height: 50px;
        padding: 0px 15px 0px 15px;
    }

    textarea {
        width: 720px;
        max-width: 720px;
        height: 110px;
        max-height: 110px;
        padding: 15px;

        background: transparent;
        outline: none;

        color: #202020;
        font-size: 1.8rem;
        font-family: "Poppins", sans-serif;
    }

    #submit {
        width: 720px;

        padding: 0;
        margin: -5px 0px 0px 0px;

        font-size: 1.8rem;
        color: #202020;
        font-family: "Poppins", sans-serif;

        outline: none;
        cursor: pointer;

        border: solid 1px #000000;
        border-top: none;
    }

    .imagenForm {
        display: flex;
        width: 400px;
        height: auto;
        margin: 2%;
        padding-left: 4%;
        padding-right: 10%;
    }
}


@media (min-width: 1020px) {
    .imagenForm {
        display: flex;
        width: 340px;
        height: auto;
        margin: 2%;
        padding-right: 9%;
    }
}


@media (min-width: 1400px) {
    .imagenForm {
        display: flex;
        width: 540px;
        height: auto;
        margin: 2%;
        padding-right: 9%;
        margin-right: 5%;
    }
}

@media (min-width: 1820px) {
    .imagenForm {
        width: 600px;
        height: auto;
        padding-left: 35%;
    }
}


/* MAIN SERVICIOS */

.mainServicios {
    margin: 3%;
}

.sectionuno-mainServicios {
    display: flex;
    align-items: center;
    padding-bottom: 2%;
}

.sectiondos-mainServicios {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-bottom: 2%;
}


.titulos-mainServicios {
    font-size: 3rem;

}

.divuno-mainServicios {
    padding: 2%;
}

.divdos-mainServicios {
    padding: 2%;
}

.parrafos-mainServicios {
    font-size: 1.2rem;
    text-align: justify;

}

.img-mainServicios>img {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    padding: 2px;
}

.img-mainServicios {
    display: flex;
    justify-content: center;
}

@media (min-width: 1024px) {
    .titulos-mainServicios {
        font-size: 4.5rem;

    }

    .parrafos-mainServicios {
        font-size: 2rem;
    }
}

@media (min-width: 1440px) {
    .divuno-mainServicios {
        padding: 2%;
        padding-left: 10%;
    }

    .divdos-mainServicios {
        padding: 2%;
        padding-right: 10%;
    }

    .titulos-mainServicios {
        font-size: 4rem;

    }

    .parrafos-mainServicios {
        font-size: 2.3rem;
    }

    .img-mainServicios>img {
        width: 400px;
        height: 400px;
        display: flex;
        justify-content: center;
    }
    
}

@media (min-width: 2500px) {
    .titulos-mainServicios {
        font-size: 6rem;

    }

    .parrafos-mainServicios {
        font-size: 4rem;
    }
}